---
title: Home
---

<h1>Home page</h1>

<h2>Tags</h2>

<ul id="tags-list">
  {% for tag in site.tags %}
      <li><a href="/tag/{{tag[0]}}">{{ tag[0] }}</a></li>
  {% endfor %}
</ul>

<div class="horizontal-container space-between">
  <h2>Latest Posts</h2>
  <div class="horizontal-container">
    <h2>
      <a href="/all.html">All</a>
    </h2>
    <a href="/feed.xml" style="margin-top: 55px; margin-left: 5px;">
      <img src="/assets/images/logos/rss.svg" alt="Feed icon" width="25px" height="25px">
    </a>
  </div>
</div>

<div class="two-columns-grid">
  {% for post in site.posts limit:4 %}
    <article class="postPeek">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

      {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" alt="thumbnail">
      {% endif %}

      {{ post.excerpt }}

    </article>
  {% endfor %}
</div>

<h2>Games I worked on</h2>
<ul class="horizontal-container wrap game-container">
  {% for item in site.data.games %}
  <li>
      <img src={{ item.cover }} alt="Game cover">
      <div class="game-links-container">
        {% for link in item.links %}
        <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
          {% if link contains "itch.io" %}
          <img src="/assets/images/logos/itchio.svg"
          alt="Itch.io button">
          {% elsif link contains "striked.gg" %}
          <img src="/assets/images/logos/striked-rocket.svg"
          alt="Striked button">
          {% elsif link contains "raccreativegames.com" %}
          <img src="/assets/images/logos/raccreativegames.png"
          alt="Raccreative Games button">
          {% elsif link contains "steampowered.com" %}
          <img src="/assets/images/logos/steam.svg"
          alt="Steam button">
          {% else %}
          <img src="/assets/images/logos/web.svg"
          alt="Other button">
          {% endif %}
        </a>
        {% endfor %}
      </div>
  </li>
  {% endfor %}
</ul>