#post-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#side-bar {
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

#post-article {
    flex: 3;
    min-width: 0;
}


#postDate {
    font-size: medium;
}

#tutorial-videos-buttons {
    display: flex;
    justify-content: center;
}

#youtube-iframe {
    border: 2px solid black;
}

#odysee-iframe {}

#postNav {
    width: 100%;
    margin-top: 32px;
    padding-bottom: 40px;
}

#postNav #prevTut {
    float: left;
}

#postNav #nextTut {
    float: right;
}

h1 {
    font-size: xx-large;
}

blockquote {
    background-color: lighten($background-color, 13%);
    padding: 2px 20px;
}

video {
    width: 100%;
}