#postDate {
    font-size: medium;
}

#tutorial-videos-buttons {
    display: flex;
    justify-content: center;
}

#youtube-iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: 2px solid black;
}

#odysee-iframe {}

#postNav {
    width: 100%;
    margin-top: 32px;
    padding-bottom: 40px;
}

#postNav #prevTut {
    float: left;
}

#postNav #nextTut {
    float: right;
}

h1 {
    font-size: xx-large;
}

blockquote {
    background-color: lighten($background-color, 13%);
    padding: 2px 20px;
}