#topNav {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: $accent-color;
}

#topNav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#topNav .currentPage {
    background-color: darken($accent-color, 7%);
}

#topNav>ul>li {}



#topNav li {
    color: $text-color;
    float: left;
    padding: 10px;
    height: 100%;
    font-size: 1.5em;
}

#topNav li:hover {
    color: $text-color;
    background-color: $accent-hover-color;
}

#topNav a {
    color: inherit;
    text-decoration: none;
}