#topNav {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: $accent-color;
}

#topNav .currentPage {
    background-color: darken($accent-color, 7%);
}

#topNav a {
    color: $text-color;
    float: left;
    padding: 10px;
    height: 100%;
    font-size: 1.5em;
    text-decoration: none;
}

#topNav a:hover {
    color: $text-color;
    background-color: $accent-hover-color;
}