@import "themes/default";

* {
    font-size: 1em;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    margin-right: $main-horizontal-margin;
    margin-left: $main-horizontal-margin;
    padding: 16px;
    background-color: lighten($background-color, 7%);
    flex-grow: 1;
}

#post-main {
    margin-right: $main-post-horizontal-margin;
    margin-left: $main-post-horizontal-margin;
}

@media (max-aspect-ratio: 4/3) {

    main,
    #post-main {
        margin-right: 0;
        margin-left: 0;
    }

    #side-bar,
    #post-container>hr {
        display: none;
    }
}

.two-columns-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

h1 {
    font-size: 2em;
}

h2 {
    margin-top: 55px;
    font-size: 1.6em;
}

h3 {
    margin-top: 45px;
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

pre {
    padding: 10px;
    overflow: auto;
}

a {
    color: $link-base-color;
}

a:visited {
    color: $link-visited-color;
}

a:hover {
    color: $link-hover-color;
}

.postPeek {
    background-color: lighten($background-color, 15%);
    padding: 15px;
    margin: 30px;
    border-radius: 16px;

    h3 {
        margin: 0;
    }
}

#backToTopButton {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: fixed;
    bottom: 48px;
    right: 48px;
    display: none;
}

#backToTopButton:hover {
    filter: brightness(130%);
    cursor: pointer;
}

#backToTopButton.show {
    display: block;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

button {
    background-color: $accent-color;
    padding: 5px;
    font-size: 0.85em;
}

button:hover {
    background-color: $accent-hover-color;
}

.horizontal-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.game-container {
    list-style: none;
    padding: 0;

    li {
        flex-grow: 1;
        position: relative;
        width: 200px;
        height: 260px;
    }

    a:hover {
        filter: brightness(130%);
    }

    li>img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.game-links-container {
    position: absolute;
    bottom: 4px;
    right: 4px;

    * {
        width: 32px;
        height: 32px;
    }
}

.bilingual-book{
    >p:nth-child(even) {
        text-align: left;
        display: inline-block;
        width: 47%;
        vertical-align: top;
    }

    >p:nth-child(odd) {
        text-align: left;
        display: inline-block;
        width: 47%;
        margin-left: 5%;
        color: black;
        background-color: black;
    }
    >p:nth-child(odd):hover {
        color: inherit;
        background-color: inherit;
    }

    >p:last-child {
        color: inherit;
        background-color: inherit;
    }
}

@import "top_nav";
@import "post";
@import "footer";
@import "portfolio";
@import "search";