@import "themes/default";

body {
    margin: 0;
    background-color: $background-color;
    color: $text-color;
}

main {
    margin-right: 23vw;
    margin-left: 23vw;
    padding: 16px;
    background-color: lighten($background-color, 7%);
}
@media (max-aspect-ratio: 4/3) {
    main {
        margin-right: 0;
        margin-left: 0;
    }
}

img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

pre {
    padding: 10px;
    overflow: auto;
}

code {
    font-size: large;
}

p {
    font-size: larger;
}

a {
    color: $link-base-color;
}
a:visited {
    color: $link-visited-color;
}
a:hover {
    color: $link-hover-color;
}

.postPeek {
    background-color: lighten($background-color, 15%);
    padding: 15px;
    margin: 30px;
    border-radius: 16px;
}

#backToTopButton {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: fixed;
    bottom: 48px;
    right: 48px;
    display: none;
    opacity: 0.7;
}

#backToTopButton:hover {
    opacity: 1;
    cursor: pointer;
}

#backToTopButton.show {
    display: block;
}

@import "top_nav";
@import "post";
@import "footer"