@import "themes/default";

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    margin-right: $main-horizontal-margin;
    margin-left: $main-horizontal-margin;
    padding: 16px;
    background-color: lighten($background-color, 7%);
    flex-grow: 1;
}

#post-main {
    margin-right: $main-post-horizontal-margin;
    margin-left: $main-post-horizontal-margin;
}

@media (max-aspect-ratio: 4/3) {

    main,
    #post-main {
        margin-right: 0;
        margin-left: 0;
    }

    #side-bar,
    #post-container>hr {
        display: none;
    }
}

img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

pre {
    padding: 10px;
    overflow: auto;
}

code {
    font-size: 1.4em;
}

p {
    font-size: larger;
}

a {
    color: $link-base-color;
}

a:visited {
    color: $link-visited-color;
}

a:hover {
    color: $link-hover-color;
}

.postPeek {
    background-color: lighten($background-color, 15%);
    padding: 15px;
    margin: 30px;
    border-radius: 16px;
}

#backToTopButton {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: fixed;
    bottom: 48px;
    right: 48px;
    display: none;
}

#backToTopButton:hover {
    filter: brightness(130%);
    cursor: pointer;
}

#backToTopButton.show {
    display: block;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

button {
    background-color: $accent-color;
    padding: 5px;
    font-size: 0.85em;
}

button:hover {
    background-color: $accent-hover-color;
}

@import "top_nav";
@import "post";
@import "footer";
@import "portfolio";