---
layout: default
---
<div id="post-container">
    <nav id="side-bar">
        <h2>Table of Contents</h2>
        <div id="table-of-contents">
            {% toc %}
          </div>

        <details>
            {% assign category = page.categories[0] %}
            <summary>
            {{ category | capitalize }} tutorials
            </summary>
            <ul>
                {% for post in site.categories[category] %}
                <li>
                    {% if post.post_id != page.post_id %}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    {% else %}
                    {{ post.title }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </details>
    </nav>

    <hr>

    <article id="post-article">
        <h1>{{ page.title }}</h1>
        <time id="postDate">{{ page.date | date_to_string }}{% if page.last_updated %} (Updated on {{ page.last_updated | date_to_string }}){% endif %}</time>
        <ul id="tags-list">
            {% for tag in page.tags %}
                <li><a href="/tag/{{tag}}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <br>

        {{ content }}

        <nav id="postNav">
            {% for post in site.posts %}
            {% if post.post_id == page.prev_tutorial %}
            <a id="prevTut" href="{{ post.url }}">
                Previous tutorial: {{ post.title | remove_first: post.discard_start }}
            </a>
            {% endif %}
            {% if post.post_id == page.next_tutorial %}
            <a id="nextTut" href="{{ post.url }}">
                Next tutorial: {{ post.title | remove_first: post.discard_start }}
            </a>
            {% endif %}
            {% endfor %}
            <script src="/assets/js/post.js"></script>
    </article>
</div>